<!-- {{title}} <app-dado></app-dado>-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Title</title>
</head>

<body>
  <div class="container TipoLetra">
    <div class="row">
      <div class="col">
        <!--Inicio de col-->
        <div class="position-absolute top-50 start-50 translate-middle">
          <!--Inico de card-->
          <div class="card shadow-lg p-3 mb-5 bg-body rounded border-0 rounded">
            <div class="card-body">
            <div class="text-center">
              <h1 class="TipoLetra">Juego Infinito</h1>
              <img src="assets/img/LogoDeDados.png" class="tamañoDeLogoPrincipal" alt="">
            </div>
              <!--Inicio de card-body-->
              <div style="text-align: center;">
                <app-dado [valor]="valor1"></app-dado>
                <app-dado [valor]="valor2"></app-dado>
                <app-dado [valor]="valor3"></app-dado>
                <hr>
                <button class="btn colorBoton" (click)="tirar()"> <img src="assets/img/dados.png" class="TamañoDeDado" alt="" srcset=""> <br> Tirar</button>
              <br><br>
                <!--Cards inicio-->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card border-0">
                      <div class="card-body">
                        <br>
                        <h5 class="TipoLetra">{{ resultado }}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card border-0">
                      <div class="card-body">
                       <img src="assets/img/PrincipalDado.png" class="tamañoDeImgPrincipal" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <!--Cards final-->
              </div>
              <!--Fin de card-body-->
            </div>
          </div>
          <!--Fin de card-->
        </div>
        <!--Final de col-->
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
</body>

</html>
